<!DOCTYPE html>
<!-- xml ajax -->
<html>
<head>
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function(){
            $.ajax({
                url : "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.xml?key=430156241533f1d058c603178cc3ca0e&targetDt=20120101",
                dataType : "xml",
                success : function(result){
                    if($(result).find("movieNm").length > 0){
                        $(result).find("movieNm").each(function(){
                            var name = $(this).text();
                            var result = "<li>" + name + "</li>";
                            $("#wrap ol").append(result);
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>
    <h1>인기 검색어</h1>
    <div id="wrap">
        <ol></ol>
    </div>
</body>
</html>