<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='/static/main3.js'></script>
    <script type="text/javascript">
        // var now = new Date();
        // document.write(now); // document로 인해서 웹 페이지에서 body에 들어감
        // console.log("날짜 : " + now);
        // alert("Javascript")
    </script>
</head>
<body>
    <input type="button" value="버튼을 클릭하세요" onclick="alert('ok')">
    <button onclick="alert('hello')">버튼을 누르세요</button>
</body>
</html>