<html>
    <head>
        <title>스타일시트 연습</title>
        <link rel="stylesheet" type="text/css" href="static/mystyle.css">
        <style type="text/css">
           /* p{color:green}
           span.fontcolor{color: hotpink}
           #id1{color: peru}*/
        </style>
    </head>
    <body>
        <h1>스타일 시트</h1>
        <p id="id1">
           외부스타일 시트를 사용하여 서식을 줌.
        </p>
        <p id="id1">
            내부 스타일 시트
        </p>
        <p>
            인라인 스타일시트
        </p>
        <div>div태그입니다.</div>
       <p>
        (서울·포항=연합뉴스) <div class="fontcolor">손대성 김지헌 기자</div> = 10일 낮 12시 53분 38초께 경북 포항시 북구 동북동쪽 50㎞ 해역에서 규모 4.1의 지진이 났다.

        정확한 위치는 북위 36.16도, 동경 129.90도이며 발생 깊이는 21㎞다.
        
        <span class="fontcolor">기상청은</span> 처음에는 이 지진이 포항 북구 동북동쪽 58㎞ 해역에서 난 4.0 규모로 파악했다가 발생 위치와 규모, 시각을 다시 측정해 발표했다.
        
        기상청 관계자는 "지진이 자주 발생하는 지역이지만 평소보다 규모가 크다"며 "피해 상황을 확인 중이기는 하나 육지와 50㎞ 정도 거리가 있어서 아직 피해가 접수된 것은 없다"고 전했다.
        
        또 "규모가 6.0에 미치지 않아 해일(쓰나미)은 없을 것이며 앞으로 혹시 있을 수 있는 지진은 계속 감시 중"이라며 "2017년 포항 지진과는 관계가 없는 것으로 현재 분석되지만, 추가적인 조사가 필요하다"고 밝혔다.
        </p>
    </body>
</html>